<div class="article-wrapper flex flex-col gap-3">
  <a href="../index.html" id="navigation" class="inline-flex w-fit px-4 py-2 rounded-full transition-all gap-2 cursor-pointer border-2 border-[#6EF3AE] hover:bg-[#6EF3AE] hover:text-white">
    <img class="text-white" src="../assets/icons/move-left.svg" alt="go back" title="Go back">
    <p>Go Back</p>
  </a>

  <h1 id="post-title" class="text-4xl">This is the title of my post</h1>
  <img id="post-image" class="w-full aspect-video rounded-2xl object-cover" src="https://placehold.co/280x180" alt="">

  <h3>Written by:</h3>
  <div class="flex gap-2">
    <img class="border-2 p-1 rounded-2xl border-[#6EF3AE]" src="https://placehold.co/58" alt="author image">
    <div class="flex flex-col gap-1 justify-center">
      <h4 class="text-[#6EF3AE]">Abdul Rehman Khan</h4>
      <h4 class="text-white/[0.4]">Full Stack Web Developer</h4>
    </div>
  </div>
  <p class="text-base leading-6 mb-3 tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, nulla laborum inventore, amet
    voluptate doloremque debitis illum eaque ipsum vero, repudiandae eius dicta aperiam modi quidem quibusdam
    provident molestias cum accusantium velit nobis ex architecto tempore? Consequuntur repudiandae placeat
    aliquid nam rem a illum sint, architecto blanditiis, culpa aperiam minus.</p>
  <p class="text-base leading-6 mb-3 tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis adipisci, est praesentium magnam
    reiciendis debitis id ipsa alias sequi sunt. Omnis ipsa recusandae dolorem autem odit officiis similique, at
    dolorum sequi eum facere corporis optio exercitationem, suscipit hic tenetur molestiae nobis nihil ipsam
    minus! Inventore.</p>
  <p class="text-base leading-6 mb-3 tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ipsa voluptates, repudiandae labore
    fugit quas porro perspiciatis molestiae repellat nihil iste delectus, nemo nam. Sequi obcaecati sed
    reprehenderit cum quam fuga. A eaque excepturi harum, cum ex voluptas recusandae laboriosam ipsam
    dignissimos voluptatum expedita quidem ducimus ipsa rerum ullam, dolorum mollitia! Obcaecati alias
    blanditiis vero aliquam, perspiciatis ipsa a illum, est accusamus, dignissimos earum maxime incidunt
    doloribus expedita veniam autem pariatur. Hic, eum? Ducimus voluptates praesentium esse ab quaerat cum.</p>
  <p class="text-base leading-6 mb-3 tracking-wide">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam laborum similique quos ratione aperiam
    totam quasi mollitia eum, ea quidem. Dolore facilis, sit vero voluptatibus et impedit ab cupiditate
    asperiores reiciendis laboriosam deleniti, velit vel modi eveniet sapiente! Tenetur harum nobis earum
    voluptatum. Obcaecati totam, sequi voluptatum, maiores harum nisi earum ullam, incidunt quas saepe neque
    libero? Illo magnam saepe veritatis eligendi voluptates voluptatem adipisci delectus ab, corporis harum?
    Quaerat eaque ea optio illo quibusdam qui incidunt sapiente quis distinctio debitis numquam, ratione, non
    error nostrum labore?</p>

    <div class="border-b-2 border-[#6EF3AE]"></div>
</div>
