@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --light-gray: #dfdfdfee;
    --dark-purple: #a020f0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #f5f5f5;
}

/** Responsive **/
@media (max-width: 768px) {
    #projects,
    #skills,
    #contact {
        margin: 0.75rem !important;
    }
}