/** Hero Section **/
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 0 9.375rem;
}

.hero-wrapper .img-wrapper {
  width: 16rem;
  height: 16rem;
  border: 3px solid #9e9e9e;
  border-radius: 50%;
  margin-bottom: 0.875;
  object-fit: contain;
  background-image: url("../../assets/pfp.jpg");
  background-color: #ebebeb;
  object-fit: none;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-wrapper>.hero-title,
.job-title {
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}

.hero-title {
  color: var(--dark-purple);
}

.text-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

/** CTA Button **/
#contact-me {
  background-color: #6600a5;
  color: #fff;
  border: none;
  margin: auto;
}

#contact-me:hover {
  background-color: #2f024b;
}


/*? Hero's BG image ?*/
#waves-right,
#waves-left {
  position: absolute;
  z-index: -1;
}

#waves-right {
  top: 0;
  right: 0;
}

#waves-left {
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .hero-wrapper {
    padding: 0.75rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .text-wrapper {
    display: block;
    width: 100%;
    text-align: center;
  }
}