* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.875rem;
}

nav>a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  font-family: "Outfit", sans-serif;
  font-weight: 700;

  border-bottom: 4px solid #a020f000;
  transition: border-bottom 0.2s ease-in-out;

}

nav>a:hover {
  border-bottom: 4px solid #a020f0;
}

nav>a#active {
  border-bottom: 4px solid #a020f0;
}

footer {
  padding: 1.25rem;
  margin-top: 1.25rem;
  background-color: #a020f0;
  color: #fff;
  font-weight: 700;
}

hr {
  width: 25%;
  border-top: 10px dotted var(--light-gray);
  border-bottom: none;
  border-right: none;
  border-left: none;
  height: 3px;
  text-align: center;
  margin: 0 auto;
}

.txt-rtl {
  text-align: right;
}

.fl-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
}

.fl-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: nowrap;

}

.fl-justify-center {
  justify-content: center;
  align-items: center;
}

.space-50 {
  width: 50%;
}

.col-4 {
  width: 25%;
}

::selection {
  background-color: #a020f091;
  color: #fff;
}

/*? Scrollbar ?*/

/* Set the scrollbar to be square with no rounded edges */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 0;
}

/* Set the scrollbar color to #a020f0 */
::-webkit-scrollbar-thumb {
  background-color: #a020f0;
}

/* When the scrollbar is hovered, increase its width by 2px */
::-webkit-scrollbar-thumb:hover {
  width: 12px;
}

/* When the scrollbar is inactive, shrink its width by 2px */
::-webkit-scrollbar-thumb:inactive {
  width: 8px;
}

/* Set the opacity of the scrollbar tracker to 50% */
::-webkit-scrollbar-track {
  background-color: #a020f04b;
}

/*? Media Query ?*/
@media only screen and (max-width: 768px) {

  .fl-row,
  .fl-col {
    flex-wrap: wrap;
    align-content: center;
  }

  .space-50 {
    width: 100%;
    margin: 0.75rem;
  }

  footer {
    text-align: center;
  }

  .txt-rtl {
    text-align: center;
  }

}