:root{
  --dark-purple: #a020f0;
}
body{
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
  color: var(--dark-purple);
  border-left: 10px solid var(--dark-purple);
  padding-left: 14px;   /* The seperation b/w the border and the text */
  margin: 0.67em 0;
}