.fl-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
}

.fl-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: nowrap;

}

.fl-justify-center {
  justify-content: center;
  align-items: center;
}

.col-2 {
  width: 50%;
}

@media only screen and (max-width: 768px) {

  .fl-row,
  .fl-col {
    flex-wrap: wrap;
    align-content: center;
  }

  .col-2 {
    width: 100%;
    margin: 0.75rem;
  }
}